/* src/App.css */

/* Light Mode Styles */
.light-mode {
  background-color: white;
  color: black;
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #121212;
  color: white;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}
